<%= div_for comment do %>
<div class="comment_user", style="float: left;">
  <% if comment.user %>
  <%= image_tag comment.user.image_url %>
  <% end %>
</div>
<p>
  <%= comment.content %>
  <br/> <strong>Posted
	<%= time_ago_in_words(comment.created_at) %>&nbsp;ago.</strong>
	<% delete_path = "/posts/"+ String(comment.post_id) + "/comments/" + String(comment.id) %>
	<% if comment.user == current_user || comment.post.user == current_user %>
	  <%= link_to 'Destroy', delete_path, method: :delete, remote: true %>&nbsp;|&nbsp;
	<% end %>
	<%= link_to 'like' %>&nbsp;|&nbsp;
	<a href="javascript:void(0);" class="comments_<%= comment.id %>">Comments&nbsp;</a>
</p>
<% end %>