<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <% if @user.image_url == "" %>
    <%= image_tag 'default_avatar.png', style: "max-height: 40px;" %>
  <% else %>
    <%= image_tag user.image_url, style: "max-height: 40px;" %>
  <% end %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Passwd:</b>
  <%= @user.passwd %>
</p>

<% if current_user == @user %>
<%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
