<% if notice %>
<p id="notice">
  <%= notice %></p>
<% end %>

<h1>Listing posts</h1>
<div class="posts">
  <% @posts.each do |post| %>
  <div class="post">
    <pre><%= post.content %></pre>
    <div class="time_line">
      <%= post.content.length %>
      words, posted
      <%= time_ago_in_words post.created_at %>&nbspago.</div>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></div>
  <% end %>
  <%= link_to 'New Post', new_post_path %></div>