<script>
</script>
<% if notice %>
<p id="notice">
  <%= notice %></p>
<% end %>

<h1 class="title">Listing posts</h1>
<div class="posts">
  <!--POSTS START-->
  <% @posts.each do |post| %>
  <div class="blog_detail">
    <div class="info"></div>
    <pre><%= post.content %></pre>
    <div class="post_func">
      <div class="time_from_client">
        <%= post.content.length %>
        words
        |
        posted
        <%= time_ago_in_words post.created_at %>&nbsp;ago&nbsp;from&nbsp;Miniblog.</div>
      <div class="post_handle">
        <%= link_to 'like' %>
        <a href="javascript:void(0);" class="comments_<%= post.id %>">Comments</a>
      </div>
    </div>
    <div class="list_comments_<%= post.id %> ">
      <div class="existed_comments_<%= post.id %>" ><%= render :partial => post.comments %></div>
      <div class="new_comment" %><%= render post %></div>
    </div>
  </div>
  <% end %>
  <!--POSTS END-->
  <% if current_user %>
  <%= link_to 'New Post', new_post_path, class: 'new_post' %>
  <% end %>
  </div>