<script>
  $(function() {
    $( ".comment_list" ).click(function() {
      $( "#show_comments" ).toggle( "blind" );
      return false;
    });
   $( ".comment_list" ).hide();
  });
</script>
<% if notice %>
<p id="notice">
  <%= notice %></p>
<% end %>

<h1>Listing posts</h1>
<div class="posts">
  <!--POSTS START-->
  <% @posts.each do |post| %>
  <div class="blog_detail">
    <div class="info"></div>
    <pre><%= post.content %></pre>
    <div class="post_length">
      <%= post.content.length %>words</div>
    <div class="post_func">
      <div class="time_from_client">
        posted
        <%= time_ago_in_words post.created_at %>&nbsp;ago&nbsp;from&nbsp;Miniblog.</div>
      <div class="post_handle">
        <%= link_to 'like' %>
        <a href="javascript:void(0);" id="show_comments">Comments</a>
      </div>
    </div>
    <div class="comment_list">
      <%= render post %></div>
  </div>
  <!--POSTS END-->
  <% end %>
  <%= link_to 'New Post', new_post_path %></div>