<!-- START:head -->
<!DOCTYPE html>
<html>
<head>
	<title>Miniblog</title>
	<%= stylesheet_link_tag "application", :media =>
	"all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
	<!-- END:head -->
<body class="<%= controller.controller_name %>
	">
	<div id="banner">
		<%= image_tag("web_logo.png")%>
		<%= "Miniblog" %></div>
	<div id="columns">
		<div id="side">
			<div id="user_info_title">My Account</div>
			<div id="user_info">
			  <% if current_user %>
			    <div id="detailed_info"><%= render current_user %><br/>
					<%= link_to "Log out", logout_path %>
				</div>
			  <% else %>
  			    <div id="detailed_info">You're Not Logged In!</div>
			    <div class="btn_func">
				  <%= link_to "Sign Up", signup_path %>&nbsp;|&nbsp;
				  <%= link_to "Log In", 'javascript:void(0);', id: 'show_do_log_in' %>
				<div id="do_log_in"><%= render partial: '/login' %></div>
			  </div>
			  <% end %>
			</div>
			<ul>
				<li>
					<a href="/">Home Page</a>
				</li>
				<li>
					<% if current_user %>
					  <a href="/users/<%= current_user.id %>">My Profile</a>
					<% else %>
					  <a href="/login">My Profile</a>
					<% end %>
				</li>
				<li>
					<a href="mailto:lizihao945@gmail.com">Contact Me</a>
				</li>
			</ul>
		</div>
		<div id="main">
			<%= yield %></div>
	</div>

	<div id="footer">James Lee Nov., 2013</div>
</body>
</html>