<!-- START:head -->
<!DOCTYPE html>
<html>
<head>
	<title>Miniblog</title>
	<%= stylesheet_link_tag "application", :media =>
	"all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
	<!-- END:head -->
<body class="<%= controller.controller_name %>
	">
	<div id="banner">
		<%= image_tag("my_avatar.png")%>
		<%= "Miniblog" %></div>
	<div id="columns">
		<div id="side">
			<div id="user_info_title">My Account</div>
			<div id="user_info">
				<% if current_user %>
				<%= render current_user %>
				<% else %>
				<%= link_to "Sign up", signup_path %>&nbsp;|&nbsp;
				<%= link_to "Log in", login_path %>
				<% end %></div>
			<ul>
				<li>
					<a href="">Home</a>
				</li>
				<li>
					<a href="">Home</a>
				</li>
				<li>
					<a href="">Home</a>
				</li>
			</ul>
		</div>
		<div id="main">
			<%= yield %></div>
	</div>

	<div id="footer">James Lee Nov., 2013</div>
</body>
</html>