<!-- START:head -->
<!DOCTYPE html>
<html>
<head>
	<title>Miniblog</title>
	<%= stylesheet_link_tag "application", :media =>
	"all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
	<!-- END:head -->
<body>
	<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Miniblog</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
			      <li class="active"><a href="/posts">All Posts</a></li>
            <% if current_user %>
        	    <li><a href="/users/<%= current_user.id %>/posts">My Posts</a></li>
          	<% else %>
        	    <li><a href='#'>My Posts</a></li>
        	  <% end %>
            <li><a href="/users">Users</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          	<% if current_user %>
              <a href="/users/<%= current_user.id %>" class='navbar-brand hidden-sm'><%= current_user.name %></a>
              <li><a href="/logout">Log out</a></li>
            <% else %>
			        <li><a href="javascript:void(0);" class="show_do_log_in">Log in</a></li>
			        <li><a href="signup">Sign up</a></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	<div class="container">
	  <div class="row">
		<div class="col-md-3">
			<div id="user_info" class='row'>
			  <% if current_user %>
          <%= render current_user %>
          <%= form_for Post.new do |f| %>
            <p><%= f.text_area :content, class: 'form-control', placeholder: 'Write Your Post Here!', rows: 5 %></p>
            <p><%= submit_tag 'New Post', class: 'btn btn-lg btn-primary', role: 'button' %></p>
          <% end %>
			  <% else %>
  			  <div id="detailed_info">You're Not Logged In!</div>
			    <div class="btn_func">
				  <%= link_to "Sign Up", signup_path %>&nbsp;|&nbsp;
				  <%= link_to "Log In", 'javascript:void(0);', class: 'show_do_log_in' %>
				<div id="do_log_in"><%= render partial: '/login' %></div>
			  </div>
			  <% end %>
			</div>
		</div>
		<div id="main" class='col-md-9'>
			<%= yield %></div>
      </div>
	</div>
	<div id="footer">
      <div class="container">
        <p class="text-muted">James Lee Nov., 2013
          <a href="mailto:lizihao945@gmail.com">Contact Me</a>
    	</p>
      </div>
    </div>
</body>
</html>